:root{
    --text-color: #707070;
    --text-hover: black;
    --text-descript:#C2C2C2;
    --text-message:#e6e6e6;
    --boder-color:white;
    --caption-color:#2C2C2E;
    --work-backgorund: rgba(242, 242, 242, .2);
}


/* font color */
html{
    font-family: 'DM Mono', monospace;
    font-size:16px; 
}


/* 
*************
Theme
*************
*/
/* theme */
body {
    background-color: white;
    --text-color: #707070;
    --text-hover: black;
    --boder-color:white;
}
  

/* system color */
body.dark-theme {
    background-color: black;
    --text-color: #C2C2C2;
    --text-descript:#707070;
    --text-hover: #707070;
    --text-message:#3a3a3c;
    --boder-color:black;
    --caption-color:#e6e6e6;
    --work-backgorund: rgba(242, 242, 242, .1);
}


@media (prefers-color-scheme: dark) {
    body { 
        background-color: black;
        --text-color: #C2C2C2;
        --text-descript:#707070;
        --text-hover: #707070;
        --boder-color:black;
        --text-message:#3a3a3c;
        --caption-color:#e6e6e6;
        --work-backgorund: rgba(242, 242, 242, .1);
    }

    body.light-theme {
        background-color: white;
        --text-color: #707070;
        --text-descript:#C2C2C2;
        --text-hover: black;
        --text-message:#e6e6e6;
        --boder-color:white;
        --caption-color:#2C2C2E;
        --work-backgorund: rgba(242, 242, 242, .2);
    }
}






/* Error */
.error_img{
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 150px;
    max-width: 750px;
    width: 100%;
    height: auto;
}


.error_img img{
    max-width: 100%;
    height: auto; 
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



/* selection  */
::first-line {
    /* style */
}

::selection {
    background-color:  #007AFF;
    color: white;
}



/* paddimg margin backgroudnd */
main{
    margin-left: auto;
    margin-right: auto;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}




ul li {
    list-style-type: none;
}



/* 
*************
Header
*************
*/
header{
    background: #2C2C2E;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    filter:opacity(90%);
    backdrop-filter: blur(0.5rem);
}


/*Header Container */

.headerContainer{
    max-width: 64.875rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}


/* word in container */
.homepage{
    padding:0.5rem 0rem 0.5rem 0rem ;
}

.homepage a{
    display: inline-flex;
    color:white; 
    text-decoration: none;

}


/* tooltip hover */

.homepage a:hover {
    text-decoration: underline;
    color: white;
}

/* hide tooltips */

.tooltip{
    display: none;
    position: absolute;
    border-radius: 0.2rem;
    padding:0.2rem 1rem 0.2rem 1rem 

}


.homepage:hover span {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color:white;
    background: #2C2C2E;

}


.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent #2C2C2E transparent;
}


/* MODE */

.mode{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    z-index: 1;
    top: 4rem;
}

.mode-button{
    padding: 0.2rem;
    color: var(--text-color);
    border-radius: 6px;
    border: 1px solid var(--boder-color);
    background: var(--text-message); 
}

.mode-button:hover{
    color: var(--boder-color);
    background: var(--text-hover);
    box-shadow: 0.1rem 0.1rem var(--text-color);
}





/* 
*************
currently
*************
*/

.currently{
    display: block;
    border: 1px solid var(--text-message);
    background: var(--text-message);
    margin: 1rem auto 1rem auto;
    text-align: center;
    justify-content: center;
}

.info{
    padding: 0.2rem;
}

.info p{
    color:var(--caption-color);
}




/* 
*************
nav bar
*************
 */

nav{
    max-width: 64.875rem;
    margin: 4rem auto 4rem auto;
    padding: 1rem 2.5rem 1rem 2.5rem;
}




nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

nav ul li{
    padding: 0rem 1rem 0rem 1rem;
}

/* bar content */

nav ul li.item{
    position: relative;
    width: auto;
    text-align: center;
    order: 3;
}

nav ul li.item::after{
    position: absolute;
    content: '';
    width: 100%;
    transition: all 0.2s ease;
}

nav ul li.item:hover::after{
    opacity: 1;
}

/* logo of nav */
nav ul li.logo{
    flex: 1;
    color: white;
    padding: 0rem;
    user-select: none;
    display: none;
   
}

/* nav hover */
nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    transition: 0.4s;
}

.currentpage, nav ul li:hover a{
    color: var(--text-hover);
    text-decoration: underline;
    
}

nav ul li:active a{
    color: var(--text-color);
    text-decoration: underline;
}






nav ul li i{
    font-size: 1rem;
}


nav ul li.navbarToggle{
    display: none;
    
}

nav ul li.navbarToggle.hide i::before{
    content: '\e5cd'; 
    background: #2C2C2E;
    display: block;
    position: absolute;
}



/* multi device */

@media all and (max-width: 900px){

    header{
        display: none;
    }

    .currently{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin: 0rem auto 0rem auto;
    }

    .mode{
        margin: 5rem auto 0rem auto;
        padding: 0rem 2.5rem 0.2rem 2.5rem;   
        top: 6rem;     
    }


    nav{
        background: #2C2C2E;
        margin: 1.5rem auto 2rem  auto;
        padding: 0rem 2.5rem 0.2rem 2.5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        filter:opacity(90%);
        backdrop-filter: blur(0.5rem);
    }
   

    nav ul{
        justify-content: center;
    }

    nav ul li.logo{
        display: block;
    }

    nav ul li a{
        color: white;
      }
      
    nav ul li:hover a{
        color: white;
        text-decoration: underline;
    }

    nav ul li{
        padding: 0.5rem 0rem 0.5rem 0rem;
    }   
    
    
    nav ul li.item{
        width: 100%;
        display: none;
    }
      
    nav ul li.item.show{
        display: block;
    }
      

    nav ul li.navbarToggle{
        display: block;
      
    }
      
    nav ul li.item:hover{
        border-radius: 0.2rem;
        box-shadow: inset 0 0 0.2rem #507DBC,
                    inset 0 0 0.4rem #507DBC;
        
    }
    
      
    nav ul li.items:hover::after{
        opacity: 0;
    }


    /* footer  */
    footer .navbar_footer ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 2.5rem;
    }
  
    footer .navbar_footer ul li{
        padding: 0rem 2rem 0rem 0.5rem; 
    }





}
  



/*
************* 
sitemap
*************
*/

.site{
    max-width: 64.875rem;
    color: var(--text-color);
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin: 4rem auto 4rem auto;
}


.site_map ul li{
    list-style-type: square;
    list-style-position: inside;
    margin: 1rem 0;
    padding: 0 0 0 2rem;
}




.site_map a{
    color: var(--text-color);
    text-decoration: none;
}

.site_map a:hover{
    text-decoration: underline;
}





















/*
************* 
Greeting
*************
*/
.greeting{
    max-width: 64.875rem;
    color: var(--text-color);
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin: 4rem auto 4rem auto;
}

.greeting p{
    color: var(--text-color);
}

.greeting_item{
    margin: 1rem auto 1rem auto;
    display: inline-block;
}












/* 
*************
resume
*************
*/

.resume{
    max-width: 64.875rem;
    color: var(--text-color);
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin: 4rem auto 4rem auto;
}


/* profile */
.profile{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0rem 2.5rem 0rem;
    /*border-bottom: 1px solid #C2C2C2;
    */
}

.profilePic{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1rem auto 1rem auto;
    max-width: 300px;
    width: 100%;
    height: auto;
    
}

.profilePic img{
    border-radius: 50%;
    width: 100%;
    height: 300px;
    
}




/* resume */
.resume ul li{
    color: var(--text-color);
    margin: 2rem 0 2rem 0;
    display: flex;
}

.resume li ol{
    color: var(--text-color);
    margin: 0rem auto 2rem auto;
}


hr{
    color: #C2C2C2;
    background-color: #C2C2C2;
    height: 1px;
}


.resume_item{
    position: relative;
    color: var(--text-color);
    overflow: hidden; 
}


.resume_item_container{
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.resume_item p{
    color: var(--text-descript);
    
}


.resume ul div ol a{
    color: var(--text-descript);
    text-decoration: underline;
}


.resume_item_end{
    position: relative;
    color: var(--text-color);
    overflow: hidden;   
    display: block;
    text-align: end;
}





/* resume intro */
.name{
    color: var(--text-color);
}


.intro{
    text-align: center;
}

.intro p{
    text-align: center;
    margin: 1rem auto 1rem auto;
}






/* 
*************
main-send me
*************
*/

.sendme{
    color: var(--text-color);
    text-align: center;
    margin: 15rem auto 15rem auto;
}

.sendme p a{
    color: var(--text-color);
    text-decoration: underline;
}





 



@media all and (max-width: 900px){
    .greeting{
        padding: 0rem;
        margin: 8rem auto 4rem auto;
    }

    .resume{
        max-width: 64.875rem;
        padding: 1rem 0rem 1rem 0rem;
        margin-left: auto;
        margin-right: auto;
    
    }

    div .profile{
        padding: 1rem 0rem 1rem 0rem;
        /*border-bottom: 1px solid #C2C2C2;
        */
    }

    .site{
        padding: 0rem;
        margin: 8rem auto 4rem auto;
    }
}





@media only screen and (min-width: 64em) {
    .resume_item_end{
        margin: 0rem auto 1rem auto;
    }
    .resume_item p{
        margin: 0rem auto 0rem auto;
    }
}

@media only screen and (min-width: 48em){
    .resume_item_end{
        margin: 0rem auto 1rem auto;
    }

    .resume_item p{
        margin: 0rem auto 0rem auto;
    }
}

@media only screen and (min-width: 75em){
    .greeting{
        height: 36vw;
    }
}








/*
*************
contactme
*************
*/

.contactme{
    max-width: 64.875rem;
    margin: 0rem auto 4rem auto;
    padding: 0rem 2.5rem 1rem 2.5rem;
    color: var(--text-color);
}


.contactme .row .contactme_item .findme h2{
    margin-bottom: 1rem;
}

.contactme_item{
    display: inline-block;
    justify-content: center;
    margin: 1rem auto 4rem auto;
    
    
}

.contactme_item p{
    text-align: left;
    padding-top: 1rem;
    margin: 4rem auto 2rem auto;
    display: inline-block;
    vertical-align: middle;
}




/*contact icon*/

.contact_item{
    position: relative;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--boder-color);
    overflow: hidden;
    max-width:200px;
    width: 100%;
    height: 200px;
    display: flex;
    margin: 1rem auto 1rem auto;
}



.contact_item_container, .contact_item_description, .contact_item a{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; 
    top: 0;
}





.contact_item .contact_item_description {
    pointer-events: none;
    background-image: linear-gradient(rgba(229, 229, 234, 0) ,rgba(229, 229, 234, .5),rgba(229, 229, 234, 0) );
    /* background: rgba(229, 229, 234, .4);*/
    color: var(--caption-color);
    border-radius: 50%; 
    z-index: 10;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-shadow: 0.2rem 0.2rem var(--text-color);
    opacity: 1; 
}



.contact_item:hover .contact_item_description{
    opacity: 0;
    text-shadow: 0.2rem 0.2rem var(--text-color);
}



.contactme_item p a{
    color: var(--text-color);
    text-decoration: underline;
}


.contact_icon i{
    font-size: 5rem;
}



.contact_item_content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.contact_item_content img{
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.contact_item_content .img_show{
    opacity: 0;
}

/*hover img */
.contact_item:hover .contact_item_content img{
    display: none;
}


.contact_item:hover .contact_item_content .img_show{
    opacity: 1;
    display: block;
    position: absolute;
}






/* social media icon setting */

.material-icons{
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
    border: 2px hidden #222222;
    transition: all 0.3s ease;
}


.media_icon a{
    color: var(--text-color);
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 5px;
    border: 2px hidden #222222;
    transition: all 0.3s ease;
}
  
  
.media_icon a:hover{
    color: var(--text-hover);
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem var(--text-color);
}

@media all and (max-width: 900px){
    .contactme{
        padding: 0rem;
        margin: 8rem auto 4rem auto;
    } 

    .contactme_item{
        margin: 4rem auto 0rem auto;  
    }
    
    .contactme_item p{
        text-justify: center;
        padding-top: 0rem;
        margin: 0rem auto 4rem auto;
    }

    .contact_item{
        max-width: 200px;
        width: 100%;
        height: 200px;
    }

    

}







/*
*************
Work-portfolio
*************
*/

main div.work{
    margin: 4rem -1.5rem 4rem -1.5rem;
    padding: 1rem 0.2rem 1rem 0.2rem;
}





.work_item{
    position: relative;
    border-radius: 6px;
    border: 2px solid var(--boder-color);
    /*
    border: 5px solid var(--text-color) ;
    */
    overflow: hidden;
    /*height: calc((0.1604166667) * 97vw * 0.8376623377);*/
    height: 40vw;
    align-items: center;
    display: flex;
}


.work_main{
    max-width: 64.875rem;
    color: var(--text-color);
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin: 4rem auto 4rem auto;
}


/* work title */
.work_title{
    margin: 1rem auto 1rem auto;
    display: inline-block;
}


.work_title p{
    color: var(--text-color);
    text-align: left;
    margin: 0rem auto 0rem auto;
    display: inline-block;
}

.work_tag {
    font-size:0.8rem;
    margin-top: 2rem;
    text-align: right;
}

.tags{
    background: var(--text-message);
    border-radius: 6px;
    padding: 0.2rem;
}

/* portfolio tags a */

.tags a{
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
}

.tags:hover {   
    color: var(--boder-color);
    background: var(--text-hover);
    box-shadow: 0.1rem 0.1rem var(--text-color);
}

.tags:hover a{
    color: var(--boder-color);
}







.work_item_container, .work_item_container_description, .work_item a{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; 
    top: 0;
}

.work_item a {
    text-align: center;
}



.work_item .work_item_container_description {
    pointer-events: none;
    background-image: linear-gradient(rgba(229, 229, 234, 0) ,rgba(229, 229, 234, .4),rgba(229, 229, 234, 0) );
    /* background: rgba(229, 229, 234, .4);*/
    color: var(--caption-color);
    z-index: 10;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0; 
}


.work_item:hover .work_item_container_description {
    opacity: 1;
}


.work_item_container_content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.work_item_container_content img{
    width: 100%;    
}





.work_cover{
    border-radius: 12px;
    border: 5px solid var(--boder-color);
}


.homepage_cover{
    background-color: var(--work-backgorund);
}





/* portfolio cover */
.work_cover .work_item_container_content .img_show{
    opacity: 0;
    display: none;
}

/*hover img */
.work_cover:hover .work_item_container_content img{
    display: none;
}


.work_cover:hover .work_item_container_content .img_show{
    opacity: 1;
    display: block;
    position: absolute;
}




.work_credit{
    margin: 8rem auto 0rem auto;
    color: #C2C2C2;
}

.work_credit a{
    display: flex;
    text-decoration: none;
}




/* Height */
.work__item--tall {
    height: 72vw;
    margin-bottom: calc(-0.1604166667 * 97vw * 0.8376623377);
}

.work__item--tall {
/*    =height: calc((3*0.1604166667) * 97vw * 0.8376623377);
*/    margin-bottom: 0;
}





.col-xs-hide {
    display: block;
}


.work_item:empty {
    pointer-events: none;
    background: none;
    border: none;
}





/* hide */
.col-xs-hide {
    display: none;
}



/*project */

.work_item_m{
    height: 18vw;
}

.work_item_tall{
    height: 36vw;
}

.col-m-pullup-1{
    margin-top: calc(-18vw);
}


/* project layout */
.work_item_tall_3{
    height: 36vw;
}

/* project layout_3 */
.work_item_tall_4{
    height: 52vw;
}




/* 
work_describe
*/

.work_describe{
    max-width: 64.875rem;
    color: var(--text-color);
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin: 4rem auto 4rem auto;
}

.work_word{
    margin: 6rem auto 3rem auto;
    position: relative;
    color: var(--text-color);
    /*height: calc((0.1604166667) * 97vw * 0.8376623377);*/
    display: flex;
}

.diagram{
    height: 52vw;
}





@media all and (max-width: 900px){
    .work_describe{
        padding: 0rem;
        margin: 4rem auto 4rem auto;
    }

    .work_cover{
        border-radius: 6px;
        border: 3px solid var(--boder-color);  
    }
    
    .work_main{
        padding: 0rem;
        margin: 8rem auto 4rem auto;
    }

    
    .work_title p{
        margin: 0.5rem auto 0.5rem auto;
    }


}





/* video */
iframe {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    /*
    background: rgba(229, 229, 234, .4);
    aspect-ratio: 16/9;
    */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}







/* 
*************
Table-work
*************
*/


/* small */
@media only screen and (min-width: 48em) {
    .work__item--tall {
        height: 72vw;
    }

    /*project */
    .work_item_m{
        height: 18vw;
    }

    .work_item_tall{
        height: 36vw;
    }

    .col-m-pullup-1{
        margin-top: calc(-18vw);
    }


    /* project layout_3 */
    .work_item_tall_4{
        height: 52vw;
    }

    .diagram{
        height: 52vw;
    }
    

    /* hide */
    .col-xs-hide { display: block; }
    .col-sm-hide { display: none; }

}



/* medium */
@media only screen and (min-width: 64em) {
    
    .work_item {
        height: calc((1.5 * 0.1604166667) * 97vw * 0.8376623377);
    }

    .work__item--tall {
        height: calc((3 * 0.1604166667) * 97vw * 0.8376623377);
        margin-bottom: 0;
    }
    
    /* project layout_3 */
    .work_item_tall_4{
        height: calc(4* 0.1604166667 * 97vw * 0.8376623377);
    }

    .diagram{
        height: calc((3.2 * 0.1604166667) * 97vw * 0.8376623377);
        margin-bottom: 0;
    }
    
    
    /* pull */
    .col-md-pullup-1 {
        margin-top: calc((-1.5 * 0.1604166667) * 97vw * 0.8376623377);
    }
    .col-md-pullup-2 {
        margin-top: calc((-3 * 0.1604166667) * 97vw * 0.8376623377);
    }
    
    

    /* pull */
    .col-md-pull-left-1 {
        margin-left: -25%;
    }
    .col-md-pull-left-2{
        margin-left: -50%;
    }
    .col-md-pull-left-3{
        margin-left: -75%;
    }
    .col-md-push-right-1{
        margin-left: 25%;
    }
    .col-md-push-right-2{
        margin-left: 50%;
    }
    .col-md-push-right-3{
        margin-left: 75%;
    }
    

    /* hide */
    .col-sm-hide { display: block; }
    .col-md-hide { display: none; }
}




/* large */


@media only screen and (min-width: 75em) {
    .work_item{
        height: calc((.1604166667) * 97vw * .8376623377);
    }

    .work__item--tall {
        height: calc(2 * 0.1604166667 * 97vw * 0.8376623377);
        margin-bottom: calc(-0.1604166667 * 97vw * 0.8376623377);
    }
    
    
    .diagram{
        height: calc(3.2 * 0.1604166667 * 97vw * 0.8376623377);
    }


    /* pull */
    .col-md-pull-left-1, .col-md-pull-left-2, .col-md-pull-left-3, .col-md-push-right-1, .col-md-push-right-2, .col-md-push-right-3{
        margin-left: 0;
    }

    .col-md-pullup-1, .col-md-pullup-2 {
        margin-top: 0;
    }

    /* hide */
    .col-md-hide {
        display: block;
    }


    /* hide */
    .col-lg-hide { display: none;  }

    /* project layout2 */
    .work_item_tall_3{
        height: calc(3 * 0.1604166667 * 97vw * 0.8376623377);
    }

    .col-md-pullup-3{
        margin-top: calc( -0.1604166667 * 97vw * 0.8376623377);
    }


    /* project layout_3 */
    .work_item_tall_4{
        height: calc(3.5* 0.1604166667 * 97vw * 0.8376623377);
    }

   
}


@media only screen and (min-width: 120em) {
    .work_describe{
       max-width: 50%;
    }
}





/*
*************
blog
*************
*/


.blog{
    max-width: 64.875rem;
    color: var(--text-color);
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin: 4rem auto 4rem auto;
}


.blog_content{
    position: relative;
    color: var(--text-color);
    overflow: hidden; 
    
}


.blog_content ol{
    margin: 0.5rem auto 0.5rem auto;

}


.blog_content_container{
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


/* date */
.blog_date{
    display: flex;
    justify-content: flex-end;
}


/*Read more button */
.blog_button{
    background: none;
    border: 2px solid #2C2C2E;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;
    transition-duration: 0.4s;
}


.blog_button:hover{
    background: #2C2C2E;
    color: white;
}


.blog_button:active{
    background: none;
    color: black;
}


/* --- */
.blog .row hr{
    margin: 1rem auto 1rem auto;
    color: #C2C2C2;
    background-color: #C2C2C2;
    height: 1px;
}



/* table */
@media all and (max-width: 900px){
    .blog{
        padding: 0rem;
        margin: 2rem auto 2rem auto;
    }
}












/* article */
article{


}


/* aside */
aside{


}

/* 
*********
pagination 
*********
*/
.pagination{
    max-width: 64.875rem;
    margin: 2rem auto 2rem auto;
    padding: 1rem 0rem 1rem 0rem;
}

.pagination_item {
}

.pagination_item i{
    color: var(--text-color);
    text-decoration: none;
}



.pagination_back {
    text-align: left;
}

.pagination_forward {
    text-align: right;
}


.pagination_description {
    pointer-events: none;
    /* 
    background-image: linear-gradient(rgba(229, 229, 234, 0) ,rgba(229, 229, 234, .5),rgba(229, 229, 234, 0) );
    background: rgba(229, 229, 234, .4);*/
    color: var(--text-color);
    z-index: 10;
    opacity: 1; 
}


.pagination_item:hover .pagination_description{
    color: var(--text-hover);
    text-decoration: underline;
}










/* 
*********
footer 
*********
*/
footer{
    display: block;
    width: 100%;
    background: #2C2C2E;
    z-index: 1;    

}   
  
  
footer .footer_container{
    max-width: 64.875rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2.5rem 1rem 2.5rem;
   
}
  
  
footer div li a{
    color: white;
}

  
footer h2{
    color: white;
}
  
footer .footer_contatiner .topic{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}


/* footer main */
footer .footer_main{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}



footer .footer_main .material-icons{
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
    border: 2px hidden #222222;
    transition: all 0.3s ease;

}
  
footer .footer_main a{
    color:#707070;
}
  
footer .footer_main a:hover{
    color: white;
    text-shadow: 0.1rem 0.1rem #707070;
}
  


  
/* Navbar footer */
footer .navbar_footer{
    margin-top: 0;
    margin-bottom: 0rem;
}


footer .navbar_footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
  
footer .navbar_footer ul li{
    padding: 0rem 1rem 0rem 1rem;
}
  
  
/* bar content */
  
footer .navbar_footer ul li.item{
    position: relative;
    width: auto;
    text-align: center;
    order: 3;
}
  
footer .navbar_footer ul li.item::after{
    position: absolute;
    content: '';
    width: 100%;
    transition: all 0.2s linear;
}
  
footer .navbar_footer ul li.item:hover::after{
    opacity: 1;
}
  
/* logo of nav */
footer .navbar_footer ul li.logo{
    flex: 1;
    color: white;
    padding: 0rem;
    user-select: none;
    display: none;
}
  
/* nav hover */
footer .navbar_footer ul li a{
    color: white;
    text-decoration: none;
    transition: 0.4s;
}
  
footer .navbar_footer ul li:hover a{
    text-decoration: underline;
}
  
footer .navbar_footer ul li i{
    font-size: 1rem;
}
  
  
footer .navbar_footer ul li.navbarToggle{
    display: none;    
}
  
footer .navbar_footer ul li.navbarToggle.hide i::before{
    content: '\e5cd'; 
    background: #2C2C2E;
    display: block;
    position: absolute;
}
  




  
/* media icon */
 
footer .media_icon a{
    color: #707070;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 5px;
    border: 2px hidden #222222;
    transition: all 0.3s ease;
}
  
  
footer .media_icon a:hover{
    color: white;
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem #707070;
}
  
footer a:hover{
    color: white;
    text-decoration: underline;
}
  
footer .resouce{
    margin-top: 2rem;
    margin-bottom:.5rem;
    border-top: 1px solid white;
}
  

/* sitemap copyright */
  
footer .resouce .sitemap{
    padding: 1rem 0rem 0rem 0rem;    
}

  
footer .footer_copyright{
    list-style-type: none;
    margin-top: 2rem;
    margin-bottom:.5rem;
}
  
footer .footer_copyright p{
    padding: 0.5rem 0rem 0rem 0rem;
    color: white;
}







@media all and (max-width: 900px){
    
    /* footer  */
    footer .navbar_footer ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2.5rem;
        
    }

    footer .footer_container{
        max-width: 64.875rem;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 2.5rem 1rem 2.5rem;
       
    }
    

    footer .navbar_footer ul li{
        padding: 0rem 2rem 0rem 0.5rem; 
    }

}




