{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}




        <!-- cover picture -->


        <!--Greeting-->

        <div class="greeting">
            <ul class="row">
                <li class ="contactme_item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1><br>
                        Hi there!<br>
                        I'm<br>
                        Ying-Shiuan Chen.
                        <br>
                        <br>
                        <br>
                        <br>
                    </h1>
                </li>

                <li class ="contactme_item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>about me
                    </h2>
                </li>
            </ul>

        </div>



        


        <hr>


  {{ this.body }}
{% endblock %}