{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}


<!-- cover picture -->


<div class="contactme">
    <ul class="row">
        <li class ="contactme_item col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <h1><br>
                Hi there!<br>
                I'm<br>
                Ying-Shiuan Chen.
                <br>
                <br>
                <br>
                <br>
            </h1>
        </li>

        <li class ="contactme_item col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="profilePic"><img src="../content/YShiuan_C_Logo.png" alt="YShiuan_C" width="300px" height="300px"></div>
        </li>

        <li class ="contactme_item col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="findme">
                <h2>Find Me Here                  
                </h2>
            </div>
            
            <div class="media_icon">
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-vimeo"></i></a>
                <a href="#"><i class="fa fa-medium"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </li>
        
        
        



    </ul>
</div>




  {{ this.body }}
{% endblock %}