{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="greeting">
  <ul class="row">
      <li class ="contactme_item col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1><br>
              Hi there!<br>
              I'm<br>
              Ying-Shiuan Chen.
              <br>
              <br>
              <br>
              <br>
          </h1>
      </li>

      <li class ="contactme_item col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>I design and develop.
          </h2>
      </li>
  </ul>

</div>


<br>
<br>
<br>
<br>
<br>
<br>

<div class="name">
  <h1></h1>
</div>




<!-- work gallery-->

<div class="work">
  <ul class="row">
      <!-- 4 -->
      <li class="work_item col-xs-6 col-sm-6 col-md-6 col-lg-4">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">1</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">2</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">3</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      <!--  work__item__discovery -->
      <li class="work_item work__item__discovery col-xs-6 col-sm-6 col-md-3 col-lg-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">4</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      <!-- 2 Height work__item--nga work__item--bottom -->
      <li class="work_item work__item--tall work__item--nga work__item--bottom col-xs-6 col-sm-6 col-md-3 col-lg-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">5</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      <!-- 2 Height work__item--tactile work__item--bottom -->
      <li class="work_item work__item--tall work__item--tactile work__item--bottom col-xs-6 col-sm-6 col-md-3 col-lg-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">6</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">7</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>



      <!-- large  hide  pull^1 -->
      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-md-pullup-1 col-lg-2 col-lg-hide">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">7+1</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>


      <!-- Square work__item--m  tall -->
      <li class="work_item work__item--m work__item--tall col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">8</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>


      
      <!-- 2 Blcok Hide pull^1 -->
      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-md-pullup-1 col-lg-2 col-xs-hide">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">9</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      <li class="work_item ol-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide"></li>
      <li class="work_item ol-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide"></li>



      <!-- 2 Blcok Hide pull^2 -->
      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2 col-md-pullup-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">10</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide"></li>
      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide"></li>


      <!-- work__item--ambient only large show -->
      <li class="work_item work__item--ambient col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide">11
          <img src="" alt="">
      </li>

      <!-- Video  .work__item--cover pull^1<1 -->
      <li class="work_item .work__item--cover col-xs-6 col-sm-6 col-md-3 col-lg-2 col-md-pull-left-1 col-md-pullup-1 col-xs-hide">12
          <img src="" alt="">
      </li>


      <!-- pull^2 >2 -->
      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2 col-md-push-right-2 col-md-pullup-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">13</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      
      <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2 col-md-push-right-3 col-md-pullup-1">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">14</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>



      <!-- work__item--watchface -->

      <li class="work_item work__item--watchface col-xs-6 col-sm-6 col-md-3 col-lg-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">15</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>



      <!-- work__item--cover -->
      <li class="work_item col-xs-12 col-sm-12 col-md-6 col-lg-4 work__item--cover">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">16</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>

      



      <!-- work__item--goo -->

      <li class="work_item work__item--goo col-xs-6 col-sm-6 col-md-3 col-lg-2">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">17</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>



      <!-- work__item--ambient -->
      <li class="work_item work__item--ambient col-xs-6 col-sm-6 col-md-3 col-md-hide col-lg-hide">
          <a href="#">
              <div class="work_item_container">
                  <div class="work_item_container_description">18</div>
                  <div class="work_item_container_content">
                      <img src="" alt="">
                  </div>
              </div>
          </a>
      </li>
    
  
  

  </ul>        
</div>



  {{ this.body }}
{% endblock %}
