{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

 <!-- cover picture -->


        <!--Greeting-->

        <div class="resume">
            
            <div class="profile">
                <div class="profilePic"><img src="../content/YShiuan_C_Logo.png" alt="YShiuan_C" width="300px" height="300px"></div>
                <div class="intro">
                    <h2>Hi! I'm Ying-Shiuan.</h2>
                    <p>Currently a motion graphics designer</p>
                    <p>and</p>
                    <p>a strategic design consultant</p>
                <br>
                <hr>
                <br>        
                    <p>As being Ying-Shiuan, I am a designer, researcher, engineer, and programmer.
                     <br> I Enjoy completing products in digital and physical based on research and strategy.
                    </p>
                    
                </div>
                
                    
            </div>   
                


            <hr>


            <!--  Experience  -->
            <ul class="row">
                
                <li class="resume_item col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                    <h3>EXPERIENCE</h3>
                </li>

                <li class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="resume_item_container">

                        <ol class="resume_item col-lg-8 col-md-6 col-sm-12 col-xs-12" >
                            <h3>Motion Graphics Designer</h3>
                            <p>Freelance</p>
                        </ol>
                        <ol class="resume_item_end col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <p>04/2020 - Present</p>
                        </ol>


                        <ol class="resume_item col-lg-8 col-md-6 col-sm-12 col-xs-12" >
                            <h3>Research Assistant</h3>
                            <p>Tamkang University, Taiwan</p>
                        </ol>
                        <ol class="resume_item_end col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <p>08/2017 - 08/2018</p>
                        </ol>


                        <ol class="resume_item col-lg-8 col-md-6 col-sm-12 col-xs-12 ">
                            <h3>Teaching Assistant</h3>
                            <p>Tamkang University, Taiwan</p>
                        </ol>
                        <ol class="resume_item_end col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <p> </p>
                        </ol>


                        <ol class="resume_item col-lg-8 col-md-6 col-sm-12 col-xs-12">
                            <h3>Lab Manager</h3>
                            <p>CCC Lab, Taiwan</p>
                        </ol>
                        <ol class="resume_item_end col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <p> </p>
                        </ol>


                        <ol class="resume_item col-lg-8 col-md-6 col-sm-12 col-xs-12">
                            <h3>Workshop Lecturer</h3>
                            <p>Grasshopper, Rhinoceros 3D
                                <br>Tamkang University, Taiwan
                            </p>
                            
                        </ol>
                        <ol class="resume_item_end col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <p>06/2017</p>
                        </ol>

                        <ol class="resume_item col-lg-8 col-md-6 col-sm-12 col-xs-12">
                            <h3>Workshop Lecturer</h3>
                            <p>Robotic Clay 3D-Printing
                                <br>Tamkang University, Taiwan
                            </p>
                        </ol>
                        <ol class="resume_item_end col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <p>06/2016</p>
                        </ol>
                    </div>
                
                </li>

            </ul>


            <hr>

            <!--  Education  -->
            <ul class="row">
                
                <li class="resume_item col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <h3>EDUCATION</h3>
                </li>

                <li class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="resume_item_container">

                        <ol class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Master of Advanced Studies</h3>
                            <h4>ETH Zürich, Switerland</h4>
                            <p>Architecture and Digital Fabrication
                                <br>MAS ETH DFAB
                            </p>
                        </ol>
                        <ol class="resume_item_end col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <p>2018 - 2019</p>
                        </ol>

                        <ol class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Bachelor of Architecure</h3>
                            <h4>Tamkang University, Taiwan</h4>
                            <p>B.Arch</p>
                        </ol>
                        <ol class="resume_item_end col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <p>2012 - 2017</p>
                        </ol>
                        
                    </div>
                
                </li>

            </ul>
           
       
            <hr>


            <!-- TOOLS & SKILL -->
            <ul class="row">
                
                <li class="resume_item col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <h3>TOOLS & SKILLS</h3>
                </li>

                <li class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="resume_item_container">

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Programming</h3>
                            <p>Python, HTML, CSS, JavaScript
                            </p>
                        </ol>
                        
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>3D Modelling</h3>
                            <p>Rhinoceros 3D, Grasshopper, AutoCAD, Revit, Maya, 3ds Max, Sketchup, 
                                Unity, Cinema 4D
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>2D Graphics</h3>
                            <p>Adobe Suite<br>
                                Illustrator, Photoshop, InDesign, Lightroom, XD, Premiere Pro, 
                                <br>After Effects
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Fabrication</h3>
                            <p>Laser Cutting, CNC Milling, Zund Digital Cutter system,
                                <br> 3D-Printing, Plasma Cutting, Vacuum Forming
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>


                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Robotic Fabrication</h3>
                            <p>KUKA, ABB, Universal Robots (UR10, UR5)
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Product Design / UI UX</h3>
                            <p>Adobe XD
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>

                    </div>
                
                </li>

            </ul>


            <hr>


            <!-- Language -->
            <ul class="row">
                
                <li class="resume_item col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <h3>LANGUAGE</h3>
                </li>

                <li class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="resume_item_container">

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>English</h3>
                            <p>Full Professional proficiency
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Chinese</h3>
                            <p>Native
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>German</h3>
                            <p>Elementary proficiency
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>

                        <ol class="resume_item col-lg-11 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Japanese</h3>
                            <p>Basic
                            </p>
                        </ol>
                        <ol class="resume_item col-lg-1 col-md col-sm col-xs">
                            <p></p>
                        </ol>
                                                
                    </div>
                
                </li>

            </ul>




            <hr>


            <!-- Exhibition & Publication -->
            <ul class="row">
                
                <li class="resume_item col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <h3>EXHIBITION & PUBLICATIONS</h3>
                </li>

                <li class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="resume_item_container">

                        <ol class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Up Sticks, Hello Robot Exhibition</h3>
                            <p>V&A Dundee Museum
                            <br><a href="https://gramaziokohler.arch.ethz.ch/web/e/lehre/375.html" target="_blank">Up Sticks</a>
                            </p>
                        </ol>
                        <ol class="resume_item_end col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <p>2019 - 2020
                                <br>Dundee, scotland
                                    <br>V&A Dundee Museum
                            </p>
                        </ol>


                        <ol class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Concrete Choreography, ORIGEN SUMMER FESTIVAL «UTOPIA» 2019</h3>
                            <p>Origen Foundation
                            <br><a href="https://dbt.arch.ethz.ch/project/concrete-choreography/" target="_blank">CONCRETE CHOREOGRAPHY</a>
                            </p>
                        </ol>
                        <ol class="resume_item_end col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <p>2019
                                <br>Riom-Parsonz, Switerland
                                    <br>Fundaziun Origen
                            </p>
                        </ol>


                        <ol class="resume_item col-lg-8 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Fundraising Brick Wall</h3>
                            <p>Hsu Shou-Chlien International Conference Center
                            <br><a href="https://vimeo.com/257883524" target="_blank">Robotic Fabrication of Brick Wall</a>
                            <br><a href="https://tkutimes.tku.edu.tw/dtl.aspx?no=47364" target="_blank">Fundraising Brick Wall</a>
                            </p>
                        </ol>
                        <ol class="resume_item_end col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <p>2017
                                <br>Tamkang University, Taiwan
                                    <br>
                            </p>
                        </ol>


                        <ol class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                            <h3>Architecture Undergraduate Thesis Design Expo.</h3>
                            <p>Songshan Cultural and Creative Park
                            <br><a href="https://www.facebook.com/YiYi.tkua49th/" target="_blank">TKU 49th</a>
                            </p>
                        </ol>
                        <ol class="resume_item_end col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <p>2017
                                <br>Taipei, Taiwan
                                    <br>
                            </p>
                        </ol>


                        <ol class="resume_item col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                            <h3>2017 Tamkang University Dept. Architecture 49th Thesis Design</h3>
                            <p>ISBN: 9789865608644
                            </p>
                        </ol>
                        <ol class="resume_item_end col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <p>2017
                                <br>Portfolio
                                    <br>
                            </p>
                        </ol>

                        
                                                
                    </div>
                
                </li>

            </ul>


            <hr>


  {{ this.body }}
{% endblock %}